name: ci

on:
  push:
    branches:
      - 'main'

jobs:
  white-box-testing:
    name: White Box Testing
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
      -
        name: Checkout code from main branch
        uses: actions/checkout@main
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.19'
      - name: Install dependencies
        run: go get .
      - name: Test with Go
        run: make test
  docker:
    name: Build and Push Docker
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: passamon/test-echo-framework:latest
